# Ignore the vscode directory
.vscode

# Ignore all .txt files
*.txt

# Do not ignore help.txt
!help.txt

# Ignore build directory
/build/

# Ignore any temporary files
*.tmp
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled binary files
*.o
*.out
*.exe

# Ignore the dataset directory
/datasets/*
!/datasets/.gitkeep
