# Ignore the vscode directory
.vscode

# Ignore all .txt files
*.txt

# Do not ignore CMakeLists.txt
!CMakeLists.txt

# Ignore build directory
/build/

# Ignore any temporary files
*.tmp
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled binary files
*.o
*.out
*.exe

# Ignore the dataset directory
/datasets/*
!/datasets/.gitkeep

# Ignore the logs directory
/logs/*
!/logs/.gitkeep

# Ignore the plots directory
/plots/*
!/plots/.gitkeep
