# Ignore the vscode directory
.vscode

# Ignore all .txt files
*.txt
!/wreadme/cnn_cpp/txt/*txt
!/wreadme/tf/txt/*txt
!/external/eigen/**/*txt
!/external/googletest/**/*txt
!/external/opencv/**/*txt

# Ignore all .csv files
*.csv
!/wreadme/cnn_cpp/csv/*csv

# Do not ignore CMakeLists.txt
!CMakeLists.txt

# Ignore build directory
/build/

# Ignore any temporary files
*.tmp
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore compiled binary files
*.o
*.out
*.exe

# Ignore the dataset directory
/datasets/*
!/datasets/catsdogs_part.zip.aa
!/datasets/catsdogs_part.zip.ab
!/datasets/catsdogs_part.zip.ac
!/datasets/cifar10_part.zip.aa
!/datasets/cifar10_part.zip.ab
!/datasets/mnist.zip
!/datasets/sanity_2_colors.zip
!/datasets/sanity_2_shapes.zip
!/datasets/sanity_5_colors.zip
!/datasets/sanity_5_shapes.zip

# Ignore the logs directory
/logs/*
!/logs/.gitkeep

# Ignore the plots directory
/plots/*
!/plots/.gitkeep

# Ignore the docs directory
docs/*
